:root{
    --main-radius:5px; /*Variáveis CSS*/
    --main-padding:5px;
}

body{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pedrolindo{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 1.5fr;
   grid-template-areas: 
                        "nav nav nav nav"
                        "aside content1 content1 content1"
                        "aside content1 content1 content1"
                        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    color: #000000;
    text-align: center;
}

nav{
 background-color: #50C2C2;
 grid-area: nav;
 border-radius: var(--main-radius);
 padding-top: var(--main-padding);
 padding: 15px;
}

aside{
    background-color: #50C2C2;
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 15px;
}

#content1{
    background-color:#50C2C2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 80px;
}

footer{
    background-color: #50C2C2;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin-right: auto;
  }
  
  .menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .menu-items li {
    margin-left: 15px;
  }
  
  .menu-items li:first-child {
    margin-left: 0;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #333;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: auto;
  }
  
  .search-bar input {
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
  }

  #text{
    transform: lowercase;
  }

  footer{
    height: auto;
  }

    

  